.c{
    position: relative;
}
.c-bg{
    height: 100%;
    width: 20px;
    background-color: rgb(44, 172, 44);
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}
.c-left{
    flex: 1;
}
.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.c-title{
    font-size: 7vh;
    width: 50%;
}
.c-item{
    display: flex;
    align-items: center;
    margin: 6vh 0;
    font-weight: 300;
}
.c-icon{
    width: 3vh;
    height: 3vh;
    margin-right: 20px;
}
.c-desc{
    font-size: 2vh;
    font-weight: 300;
}
form{
    height: 70%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
input{
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 2vh;
    padding: 10px;
}
textarea{
    width: 100%;
    height: 18em;
    margin: 10px 0;
    font-size: 2vh;
    padding: 10px;
}
button{
    width: max-content;
    font-size: 2vh;
    border: none;
    padding: 12px;
    background-color: rgb(44, 172, 44);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}
.endmsg{
    margin-left: 10px;
    font-weight: 500;
}

@media screen and (max-width:1200px){
    .c-title{
        font-size: 5vh;
    }
}
@media screen and (max-width:700px){
    .c-item{
        font-size: 10px;
    }
}
@media screen and (max-width:480px){
    .c-title{
        width: 80%;
    }
    .c-wrapper{
        flex-direction: column;
        padding: 15px;
        padding-left: 30px;
    }
    form{
        margin: 0;
        width:80%
    }
    textarea{
        height: 9em;
    }
}
@media screen and (max-width:380px){
    .c-desc{
        display: none;
    }
    form{
        width:90%;
        font-size: 1vh;
    }
}
@media screen and (max-width:300px){
    form{
        width:100%;
    }
    .c-title{
        font-size: 23px;
    }
    .c-item{
        font-size: 7px;
    }
    input{
        padding: 4px;
    }
    textarea{
        padding: 4px;
        height:6em;
    }
}